<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-存取器方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-增强的@property.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-@propery练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-id类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-构造方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>06-私有方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>07-构造方法代码提取.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-简便的构造方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-NSLog增强.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>1123-知识点回顾.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18B950A51A2187A400B67AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B950B31A218CB300B67AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B950C11A21949000B67AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B950D21A21A66F00B67AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B950E01A21AB1C00B67AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B950F11A21CB7A00B67AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B951041A21CF1900B67AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B951121A21DB0C00B67AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B951231A21E07F00B67AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B951341A21EB9700B67AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
