<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-指针前奏.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-指针的定义与初始化(重点掌握).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-指针练习(掌握).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-多级指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-指针为什么要区分类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-指针运算概述(了解).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-指针与一维数组(理解).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-指针与二维数组(理解).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-课堂练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>10-推箱子(理解).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>1111-知识点回顾.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18CBC1BC1A11B45C004C19B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CBC1CA1A11B8AD004C19B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CBC1D51A11BE41004C19B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CBC1E01A11C9FB004C19B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CBC1EB1A11D634004C19B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CBC1F61A11DB4E004C19B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CBC2011A11F9D5004C19B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CBC20C1A1202AE004C19B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CBC2171A120805004C19B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CBC2221A1211AF004C19B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CBC22D1A1225E2004C19B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
