<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-不带参数的宏定义.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-带参数宏定义(掌握).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-条件编译.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-文件包含.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-static 与 extern对局部变量的作用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-static与extern对全局变量的作用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-static与extern对函数的作用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-C语言大总结.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>1115-知识点回顾.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18B9B7A01A16FB2D0016F4B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B9B7AE1A1700B30016F4B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B9B7B91A17058B0016F4B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B9B7C41A170C400016F4B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B9B7D21A17150C0016F4B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ED537B1A17196000FF462E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ED53861A171B8700FF462E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ED53941A171E6E00FF462E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ED53A21A17391E00FF462E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
