<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-对象在内存存储细节.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>02-设计类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-创建类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-创建类2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-方法与函数对比.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-创建类的注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>1117-第一个OC程序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1875C4E61A19AA8400C37EEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1875C4F41A19BC8200C37EEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1875C4FF1A19BF0B00C37EEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1875C50A1A19EBAF00C37EEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1875C5151A1A033300C37EEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1875C5201A1A061000C37EEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1875C52B1A1A0A1A00C37EEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
