<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-二维数组的基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>01-字符串练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>02-二维数组的使用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-走出迷宫.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-走出迷宫优化.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-走出迷宫优化2(了解).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-字符串.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>08-常见的字符串函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-字符串练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>10-字符串数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>11-字符串练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>1109-知识点回顾.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18BAA4011A0F1109007A2F3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BAA40F1A0F1353007A2F3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BAA41A1A0F1E53007A2F3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BAA4251A0F1FED007A2F3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BAA4301A0F2C92007A2F3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BAA43B1A0F314F007A2F3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BC57B01A0F57AB0098AF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BC57BB1A0F65520098AF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BC57C61A0F71230098AF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BC57D11A0F7A260098AF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BC57DC1A0F7EFD0098AF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BC57E71A0F80D10098AF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
