<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-计算机中的进制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-进制转换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-原码反码补码(了解).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-位运算(理解).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-位运算练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-变量在内存中的存储细节.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-变量修饰符(掌握).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-字符类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>11-课堂游戏.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>1106-知识点回顾.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>12-昨天练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18BA07DE1A0B1DF5005F17EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BA07EC1A0B2B26005F17EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BA07F71A0B2E42005F17EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BA08021A0B3817005F17EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BA080D1A0B3C5B005F17EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BA08181A0B44B0005F17EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BA08231A0B6764005F17EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BA082E1A0B6F83005F17EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BA08391A0B771A005F17EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BA08441A0B82A6005F17EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BA084F1A0B88CC005F17EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
