<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-NSString类的简介.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-BOOL类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-对象与函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-对象与方法(掌握).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-多文件开发.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-使用多文件优化上面的代码(掌握).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-昨天编程题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>1118-知识点回顾.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18D7F9EF1A1AF00B00323BC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D7F9FD1A1AFC2200323BC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D7FA081A1B00B800323BC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D7FA131A1B07A400323BC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D7FA1E1A1B0AE300323BC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D7FA291A1B13DE00323BC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D7FA341A1B392700323BC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D7FA4C1A1B41CB00323BC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
