<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02-引用计数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-多个对象的内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-@property的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-淘宝.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-循环引用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>07-自动释放池.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>08-ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>09-ARC中@property.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>10-ARC中自动释放池.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>11-面试题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>1201-内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>184789DE1A2C7ACA0076AC9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>184789EF1A2C7D460076AC9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18478A001A2C84800076AC9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18495D691A2C15BE002F8649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18495D7A1A2C171C002F8649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18495D881A2C20F6002F8649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18495D991A2C3076002F8649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18495DAA1A2C3760002F8649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18495DBE1A2C59EE002F8649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18495DCF1A2C6027002F8649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18495DE01A2C7137002F8649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
