<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-while循环的基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-while循环练习(掌握).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-while注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-dowhile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-for循环.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-for循环的注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-break语句.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-continue语句.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-循环嵌套基本认识.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>10-循环嵌套练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>11-九九乘法表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>1103-知识点回顾.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>12-循环结构总结.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>13-昨天练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C8F91A1A0728440059B25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C8F9281A072CDA0059B25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C8F9331A0732570059B25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C8F93E1A073C500059B25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C8F9491A07419C0059B25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C8F9541A0743A30059B25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C8F95F1A0746360059B25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C8F96A1A0749370059B25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C8F9751A074B320059B25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C8F9801A074D770059B25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C8F98B1A076E750059B25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C8F9961A0786090059B25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C8F9A11A0787BD0059B25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C8F9AC1A0792170059B25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
