<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-字符串存储.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-系统中的内存分区.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-const关键字.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-字符串数组(了解).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-字符串练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-动态存储空间的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-指针函数(掌握).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-函数指针(理解).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-实现字符函数(面试题).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>1112-知识点回顾.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C500001A13707E00E796DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C5FF9A1A13061F00E796DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C5FFA81A13167F00E796DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C5FFB31A13185000E796DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C5FFBE1A1321EE00E796DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C5FFC91A1328E200E796DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C5FFD41A132B5600E796DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C5FFDF1A135F3700E796DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C5FFEA1A1363D600E796DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C5FFF51A136AA400E796DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
