<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-全局变量与局部变量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-结构体的基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-结构体初始化.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-结构体类型定义多种方式(掌握).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-结构体类型的作用域(掌握).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-结构体存储细节(理解).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-结构体数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-结构体指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-结构体嵌套.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>10-结构体与函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>11-枚举.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>1114-知识点回顾.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>12-typedef.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>183DECF41A15A97D00AB652B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183DED021A15B89300AB652B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183DED0D1A15BC3D00AB652B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183DED181A15C3DD00AB652B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183DED231A15C72B00AB652B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183DED2E1A15CAAD00AB652B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183DED391A15CCB800AB652B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185A120F1A15EF0E0061C2B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185A121A1A15F2B90061C2B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185A12251A15F5130061C2B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185A12301A15FCC70061C2B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185A123B1A1612AB0061C2B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185A12461A1626C90061C2B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
