<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02-类扩展.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-MRC转ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-SEL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-block.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-协议.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>07-delegate设计模式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>08-重构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>1202-分类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C7248F1A2D6D480007FB0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C724B31A2D7F5C0007FB0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C724C21A2D828F0007FB0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C724D31A2D850C0007FB0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C724E71A2DA9C10007FB0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C724F51A2DBC570007FB0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E1C01C1A2DCC450031E0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E1C0331A2DD2B00031E0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
