<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-知识点回顾.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-常量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-变量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-变量的多种初始化方式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-变量为什么要区分类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-变量的注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>07-变量的作用域.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>08-printf函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>09-printf函数细节.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>10-scanf函数基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>11-scanf运行原理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C36CCE1A01E26A00E7C866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C36CDC1A01EE1400E7C866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C36CE71A01F11700E7C866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C36CF21A01F81900E7C866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C36CFD1A01FB7F00E7C866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C36D081A01FE3800E7C866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C36D131A01FF2900E7C866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C36D1E1A02067300E7C866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C36D291A0228BC00E7C866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C36D341A022CBE00E7C866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C36D3F1A023AE200E7C866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
