<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02-NSMutableDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-NSSet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-集合中的内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-常用的结构体.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-基本数据类型的包装类NSNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>07-结构体转包装类型NSValue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>08-NSDate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>09-NSFileManager文件管理器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>10-NSData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>11-NSObject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>12-复制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>1205-集合.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>13-复制与引用计数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>183E20021A31A5030024A58D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183E200D1A31A7BB0024A58D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183E201F1A31AA6E0024A58D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183E202E1A31B2BD0024A58D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C451F61A31667200D97330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C452041A31706700D97330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C4520F1A3177B000D97330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C4521A1A317B9600D97330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D08BB31A319F90007B4398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D08BBE1A31A2B4007B4398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D08BC91A31A41C007B4398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D08BD41A31AB02007B4398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D08BDF1A31AB02007B4398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
