<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-运算符常识.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-算数运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-优先级与结合方向.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-类型转换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-赋值运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-自增自减运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-sizeof运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-逗号运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>10-关系运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>1031-知识点回顾.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>11-逻辑运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>12-练习2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>13-三目运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C51C221A03339D00834A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C51C301A0337C100834A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C51C3B1A03391000834A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C51C461A03443700834A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C51C511A03474C00834A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C51C5C1A034EC100834A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C51C671A0353A600834A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C51C721A0359EF00834A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C51C7D1A037AC700834A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C51C881A03817F00834A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C51C931A03856100834A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C51C9E1A038A1100834A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C51CA91A0392DB00834A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C51CB41A039A4D00834A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
