<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-程序的结构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-分支结构if基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-if语句的多种表现形式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-练习1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-if的注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-if练习2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-switch语句.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-switch练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-switch注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>10-石头剪刀布.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>11-练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>1102-知识点回顾.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C3B47B1A05D5C50039A450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C3B4891A05DD370039A450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C3B4941A05E1820039A450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C3B49F1A05E2D50039A450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C3B4AA1A05EDAC0039A450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C3B4B51A05F7580039A450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C3B4C01A05FB9F0039A450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C3B4CB1A062C5B0039A450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C3B4D61A06355C0039A450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C3B4E11A063CF60039A450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C3B4EC1A063ED60039A450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C3B4F71A06430F0039A450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
