<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-函数基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-函数定义.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-函数参数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-返回值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-函数调用过程.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-函数声明.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-#include预编译指令.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-多文件开发(模块开发).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-递归函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>10-课堂练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>1105-知识点回顾.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C064401A09CB8600871075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C0644E1A09CD9A00871075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C064591A09D49000871075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C064641A09DFB900871075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C0646F1A09E9D900871075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C0647A1A09F11D00871075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C064851A0A10FF00871075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C064901A0A227600871075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C0649B1A0A28A800871075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C064AD1A0A30CE00871075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C064B81A0A3B3E00871075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
